.mainFxmlClass {
    -fx-background-color: linear-gradient(to right bottom, #000000, #1c315e);
}

#tabPaneChaux {
    -fx-text-fill : white;
    -fx-background-color : transparent;
    -fx-font-family : 'Poppins';
    -fx-font-weight : bold;
    -fx-font-size : 30px;
    -fx-alignment : center;
}

#tabPaneChaux:selected {
    -fx-text-fill : white;
    -fx-background-color : linear-gradient(to right bottom, #13072e, #3f2182);
    -fx-font-family : 'Poppins';
    -fx-font-weight : bold;
    -fx-font-size : 30px;
    -fx-alignment : center;
}

.tab {
    -fx-background-color : transparent;
    -fx-background-radius : 50px;
    -fx-padding : 10 25 10 25;
    -fx-translate-y : -2;
    -fx-scale-y : 0.98;
}

.tab:selected {
    -fx-font-weight : bold;
    -fx-background-color : linear-gradient(to right bottom, #13072e, #3f2182);
    -fx-background-radius : 30px;
}

.tab:focused {
    -fx-focus-color : transparent;
}

.tab .tab-label{
    -fx-text-fill : white;
    -fx-background-color : transparent;
    -fx-font-family : 'Poppins';
    -fx-font-size : 20px;
    -fx-alignment : center;
}

.tabPane{
    -fx-background-color : transparent;
    -fx-tab-min-height : 5em;
    -fx-tab-max-height : 10em;
    -fx-tab-padding : 5;
}
.tabPane:focused{
    -fx-focus-color : transparent;
}

.tab-pane *.tab-header-background {
    -fx-border-color : white;
    -fx-border-width : 2px;
    -fx-background-color :  transparent;
    -fx-border-radius : 30px;
    -fx-scale-y : 0.98;
    -fx-scale-x : 0.998;
}